.layout {
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 $spacing-lg;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.sider {
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
}

.content {
  padding: $spacing-lg;
  overflow-y: auto;
  height: calc(100vh - 64px);
}

