@import "../../styles/variables.scss";

.installation {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.stepContent {
  min-height: 400px;
  padding: $spacing-lg 0;
}

.urlCard {
  margin-top: $spacing-lg;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
